{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Recruiter Map</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <style>
        #map { height: 500px; }
    </style>
</head>
<body>
    <h1>Recruiter Map - Job Seekers</h1>
    <div id="map"></div>

    <script>
        var map = L.map('map').setView([0, 0], 2);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var markers = L.markerClusterGroup();

        var jobseekerData = JSON.parse('{{ jobseekers_data|safe }}');

        jobseekerData.forEach(function(jobseeker) {
            if (jobseeker.lat && jobseeker.lng) {
                var marker = L.marker([jobseeker.lat, jobseeker.lng]);
                marker.bindPopup('<b>' + jobseeker.firstName + '</b><br><a href="{% url 'jobseeker_profile' slug='_SLUG_' %}'.replace('_SLUG_', jobseeker.slug) + '">View Profile</a>');
                markers.addLayer(marker);
            }
        });

        map.addLayer(markers);
    </script>
</body>
</html>