<form action = "{%url 'logout'%}?next={% url 'homepage' %}" method = "post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Geo Hire</button>
</form>
<form action="{% url 'recruiter_homepage' %}" method="get" style="display:inline;">
    <button type="submit">Home</button>
</form>
<form action = "{%url 'recruiter_profile' slug=request.user.recruiter.slug%}" method = "post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Profile</button>
</form>
<form action = "{%url 'logout'%}" method = "post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>