{% if request.resolver_match.url_name == 'recruiter_homepage' %}
    <form action = "{%url 'logout'%}?next={% url 'homepage' %}" method = "post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Geo Hire</button>
    </form>
{%else%}
<form action="{% url 'recruiter_homepage' %}" method="get" style="display:inline;">
    <button type="submit">Home</button>
</form>
{% endif %}
<form action = "{%url 'recruiter_profile' slug=request.user.recruiter.slug%}" method = "post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Profile</button>
</form>
<form action = "{%url 'logout'%}" method = "post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
<form action = "{%url 'recruiter_map'%}" method = "post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Map</button>
</form>
<form action="{% url 'recruiter_pipeline' %}" method="get" style="display:inline;">
    <button type="submit">Applicant Pipeline</button>
</form>
<form action="{% url 'inbox' %}" method="get" style="display:inline;">
    <button type="submit">Inbox</button>
</form>
<form action="{% url 'list_saved_searches' %}" method="get" style="display:inline;">
    <button type="submit">Saved Searches</button>
</form>