{% load static %}
<!DOCTYPE html>
<head>
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
<body>
    {% include 'recruiter/navbar.html' %}
    <h1>Hi! {{ recruiter.user.first_name }} this is your profile</h1>
    {% if request.user.is_authenticated and hasattr(request.user, 'jobseeker') %}
        <a href="{% url 'send_message' recruiter.user.id %}">Send Message</a>
    {% endif %}
    <p>Your email is: {{ recruiter.user.email }}</p>
    {% if recruiter.phone %}
    <p>Your phone number is: {{ recruiter.phone }}</p>
    {% endif %}
    {% if recruiter.headline %}
    <p>Your headline is: {{ recruiter.headline }}</p>
    {% endif %}
    <p>Your account was created at : {{ recruiter.created_at }}</p>
    <p>Your account was updated at : {{ recruiter.updated_at }}</p>
    {% if debug %}
    <p>Your unique slug is : {{ recruiter.slug }}</p>
    {% endif %}
    {% if recruiter.urls %}
    <p> Your URLs are: {{ recruiter.urls }}</p>
    {% endif %}
    {% if recruiter.location %}
    <p>{{ recruiter.location.street_address}}, {{ recruiter.location.city }}, {{ recruiter.location.state }}, {{ recruiter.location.zip_code }}</p>
    <p> {{recruiter.location.country}}</p>
    <a href="{% url 'recruiter_delete_location' recruiter.location.pk %}">Delete Location</a>
    {% if recruiter.location.city %}
    <p>Your city is: {{ recruiter.location.city }}</p>
    {% endif %}
    {% endif %}
    {% for work in recruiter.work_experiences.all %}
    <h3>Work Experience:</h3>
    <p>{{ work.position }} at {{ work.company }} from {{ work.start_date }} to {{ work.end_date }}</p>
    <p>{{ work.description }}</p>
    <a href="{% url 'recruiter_delete_work_experience' work.pk %}">Delete Work Experience</a>
    {% endfor %}
    {% for edu in recruiter.educations.all %}
    <h3>Education:</h3>
    <p>{{ edu.institution }}, {{ edu.degree }}, {{ edu.field_of_study }}</p>
    <p>{{ edu.start_date }} - {{ edu.end_date }}</p>
    <p>{{ edu.GPA }}</p>
    <p>{{ edu.description }}</p>
    <a href="{% url 'recruiter_delete_education' edu.pk %}">Delete Education</a>
    {% endfor %}
    {% if not recruiter.location %}
    <p> Want to add a location?</p>
    <a href="{% url 'recruiter_new_location' %}">Add Location</a>
    <p> Want to add work experience?</p>
    {% endif %}
    <a href="{% url 'recruiter_new_work_experience' %}">Add Work Experience</a>
    <p> Want to add education?</p>
    <a href="{% url 'recruiter_new_education' %}">Add Education</a>
</body>
</html>