{% if request.resolver_match.url_name == 'jobseeker_homepage' %}
    {%if user.is_authenticated %}
        <form action = "{%url 'logout'%}?next={% url 'homepage' %}" method = "post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Geo Hire</button>
        </form>
    {% else %}
       <form action="{% url 'homepage' %}" method="get" style="display:inline;">
            <button type="submit">Geo Hire</button>
        </form>
    {% endif %}
{%else%}
<form action="{% url 'jobseeker_homepage' %}" method="get" style="display:inline;">
    <button type="submit">Home</button>
</form>
{% endif %}
{%if user.is_authenticated %}
<form action = "{%url 'jobseeker_profile' slug=request.user.jobseeker.slug%}" method = "post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Profile</button>
</form>
<form action = "{%url 'logout'%}" method = "post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{%else%}
<form action ="{% url 'login'%}" method = "post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Login</button>
</form>
<form action ="{% url 'register'%}" method = "post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Register</button>
</form>
{%endif%}