{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Create New Workplace Experience!</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
        {% include 'jobseeker/navbar.html' %}
        <p> {{form.errors}}</p>
        <h2>Create New Workplace Experience!</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Workplace Experience</button>
        </form>
    </body>
</html>