<!-- This is a basic profile page for job seekers that displays all their requisite information.-->
<!-- The slug is set to DEBUG as I don't think it should be visible to users in the final version.-->
{% load static %}

<!DOCTYPE html>
<head>
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
<body>
    {% include 'jobseeker/navbar.html' %}
    {% if jobseeker.headline %}
    <div class = "headlineDiv">
    <h1>{{ jobseeker.headline }}</h1>
    </div>
    {% endif %}
    <h1>Hi! {{ jobseeker.user.first_name }} this is your profile</h1>
    <a href="{% url 'jobseeker_edit_profile' %}">Edit Profile</a>
    
    {% if can_view_full_profile %}
    <div class = "rowGrid mainProfileGrid">
        <div class = "internalStack mainProfileItem" id="email">
            {% if jobseeker.phone %}
            <p>Your email is: {{ jobseeker.user.email }}</p>
            {% endif %}
        </div>
        <div class = "internalStack mainProfileItem" id = "phone">
            {% if jobseeker.phone %}
            <p>Your phone number is: {{ jobseeker.phone }}</p>
            {% endif %}
        </div>
        {% if jobseeker.urls %}
        <div class = "mainProfileItem" id = "urls-{{forloop.counter}}">
        {% for urlText in jobseeker.urls %}
            <div class= "internalStack urlConDelete">
                <a href="{{ urlText }}"> {{urlText}} </a>
                <a href ="{% url 'jobseeker_delete_url' urlText %}">delete</a>
            </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <p>Your account was created at : {{ jobseeker.created_at }}</p>
    <p>Your account was updated at : {{ jobseeker.updated_at }}</p>
    {% if debug %}
    <p>Your unique slug is : {{ jobseeker.slug }}</p>
    {% endif %}
    {% if jobseeker.skills %}
    {% for skill in jobseeker.skills.all %}
    <p> Skill: {{ skill.name }}</p>
    <a href ="{% url 'jobseeker_delete_skill' skill.pk %}">delete</a>
    {% endfor %}
    {% endif %}
    {% if jobseeker.location %}
    <p>{{ jobseeker.location.street_address}}, {{ jobseeker.location.city }}, {{ jobseeker.location.state }}, {{ jobseeker.location.zip_code }}</p>
    <p> {{jobseeker.location.country}}</p>
    <a href="{% url 'jobseeker_delete_location' jobseeker.location.pk %}">Delete Location</a>
    <a href="{% url 'jobseeker_edit_location' jobseeker.location.pk %}">Edit Location</a>
    {% if jobseeker.location.city %}
    <p>Your city is: {{ jobseeker.location.city }}</p>
    {% endif %}
    {% endif %}
    {% for work in jobseeker.work_experiences.all %}
    <h3>Work Experience:</h3>
    <p>{{ work.position }} at {{ work.company }} from {{ work.start_date }} to {{ work.end_date }}</p>
    <p>{{ work.description }}</p>
    <a href="{% url 'jobseeker_delete_work_experience' work.pk %}">Delete Work Experience</a>
    <a href="{% url 'jobseeker_edit_work_experience' work.pk %}">Edit Work Experience</a>
    {% endfor %}
    {% for edu in jobseeker.educations.all %}
    <h3>Education:</h3>
    <p>{{ edu.institution }}, {{ edu.degree }}, {{ edu.field_of_study }}</p>
    <p>{{ edu.start_date }} - {{ edu.end_date }}</p>
    <p>{{ edu.GPA }}</p>
    <p>{{ edu.description }}</p>
    <a href="{% url 'jobseeker_delete_education' edu.pk %}">Delete Education</a>
    <a href="{% url 'jobseeker_edit_education' edu.pk %}">Edit Education</a>
    {% endfor %}
    {% if jobseeker.resume %}
    <embed src="{{ jobseeker.resume.url }}" id = "resumeEmbed">
    <p>Your resume is: <a href="{{ jobseeker.resume.url }}">Download</a></p>
    {% endif %}
    <div class = "rowGrid addItemDiv">
        {% if not jobseeker.location %}
            <div class = "internalStack adderLinks" id = "addLocation">
                <p>Want to add a location?</p>
                <a href="{% url 'jobseeker_new_location' %}">Add Location</a>
            </div>
        {% endif %}
        <div class = "internalStack adderLinks" id = "addWorkExperience">
            <p> Want to add work experience?</p>
            <a href="{% url 'jobseeker_new_work_experience' %}">Add Work Experience</a>
        </div>
        <div class = "internalStack adderLinks" id = "addEducation">
            <p>Want to add education?</p>
            <a href="{% url 'jobseeker_new_education' %}">Add Education</a>
        </div>
        <div class = "internalStack adderLinks" id = "addURL">
            <p>Want to add a url?</p>
            <a href="{% url 'jobseeker_url_adder_form' %}">Add URL</a>
        </div>
        <div class = "internalStack adderLinks" id = "addSkill">
            <p>Want to add a skill?</p>
            <a href="{% url 'jobseeker_skill_adder_form' %}">Add Skill</a>
        </div>
    </div>
    {% if request.user.is_authenticated and request.user.is_staff %}
        <a href="{% url 'send_message' jobseeker.user.id %}">Send Message</a>
    {% endif %}
    {% else %}
    <p>This profile is private or only visible to recruiters.</p>
    {% endif %}
</body>
<html>