<!-- This is a basic profile page for job seekers that displays all their requisite information.-->
<!-- The slug is set to DEBUG as I don't think it should be visible to users in the final version.-->
<!DOCTYPE html>
<html>
    <head>
        <title>Job Seeker Profile</title>
    </head>
    <body>
        <h1>Hi! {{ jobseeker.user.first_name }} this is your profile</h1>
        <p>Your email is: {{ jobseeker.user.email }}</p>
        {% if jobseeker.phone %}
        <p>Your phone number is: {{ jobseeker.phone }}</p>
        {% endif %}
        {% if jobseeker.resume %}
        <p>Your resume is: <a href="{{ jobseeker.resume.url }}">Download</a></p>
        {% endif %}
        {% if jobseeker.headline %}
        <p>Your headline is: {{ jobseeker.headline }}</p>
        {% endif %}
        <p>Your account was created at : {{ jobseeker.created_at }}</p>
        <p>Your account was updated at : {{ jobseeker.updated_at }}</p>
        {% if debug %}
        <p>Your unique slug is : {{ jobseeker.slug }}</p>
        {% endif %}
        {% if jobseeker.urls %}
        <p> Your URLs are: {{ jobseeker.urls }}</p>
        {% endif %}
        {% if jobseeker.location %}
        <p>{{ jobseeker.location.street_address}}, {{ jobseeker.location.city }}, {{ jobseeker.location.state }}, {{ jobseeker.location.zip_code }}</p>
        <p> {{jobseeker.location.country}}</p>
        <a href="{% url 'delete_location' jobseeker.location.pk %}">Delete Location</a>
        {% endif %}
        {% for work in jobseeker.work_experiences.all %}
        <h3>Work Experience:</h3>
        <p>{{ work.position }} at {{ work.company }} from {{ work.start_date }} to {{ work.end_date }}</p>
        <p>{{ work.description }}</p>
        <a href="{% url 'delete_work_experience' work.pk %}">Delete Work Experience</a>
        {% endfor %}
        {% for edu in jobseeker.educations.all %}
        <h3>Education:</h3>
        <p>{{ edu.institution }}, {{ edu.degree }}, {{ edu.field_of_study }}</p>
        <p>{{ edu.start_date }} - {{ edu.end_date }}</p>
        <p>{{ edu.GPA }}</p>
        <p>{{ edu.description }}</p>
        <a href="{% url 'delete_education' edu.pk %}">Delete Education</a>
        {% endfor %}
        {% if not jobseeker.location %}
        <p> Want to add a location?</p>
        <a href="{% url 'new_location' %}">Add Location</a>
        {% endif %}
        <p> Want to add work experience?</p>
        <a href="{% url 'new_work_experience' %}">Add Work Experience</a>
        <p> Want to add education?</p>
        <a href="{% url 'new_education' %}">Add Education</a>
    </body>
</html>