{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Job List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1>Job Listings</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    <a href="{% url 'create_job' %}">Create a New Job</a>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Salary</th>
            <th>Skills</th>
            <th>Actions</th>
        </tr>
        {% for job in jobs %}
        <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.description }}</td>
            <td>
                {% if job.location %}
                    {{ job.location.city }}, {{ job.location.state }}, {{ job.location.country }}
                {% endif %}
            </td>
            <td>
                {% if not job.hide_salary %}
                    {% if job.salary_min and job.salary_max %}
                        {{ job.salary_min }} - {{ job.salary_max }}
                    {% elif job.salary_min %}
                        From {{ job.salary_min }}
                    {% elif job.salary_max %}
                        Up to {{ job.salary_max }}
                    {% endif %}
                {% else %}
                    Hidden
                {% endif %}
            </td>
            <td>
                <ul>
                {% for skill in job.skills.all %}
                    <li>{{ skill.name }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <a href="{% url 'edit_job' job.id %}">Edit</a>
                <a href="{% url 'apply_for_job' job.id %}">Apply</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>