{%load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <head>
        <title>{{ template_data.title }}</title>
    </head>
    <body>
    {%if user.is_authenticated %}
    {% if jobseeker %}
    <a href = "{%url 'jobseeker_profile' slug=jobseeker.slug%}">Profile</a>
    {%endif%}
    <form action = "{%url 'logout'%}" method = "post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {%else%}
    <form action ="{% url 'login'%}" method = "post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Login</button>
    </form>
    <form action ="{% url 'register'%}" method = "post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Register</button>
    </form>
    {%endif%}
    {% block content %}

    {% endblock content %}
    </body>
</html>